.recipeButton {
  width: 50px;
  height: 50px;
  background-color: #bcbcbc;
  border: 2px solid #000;
  box-shadow: inset -3px -3px 0px #555, inset 3px 3px 0px #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  image-rendering: pixelated;
}

.recipeButton:active, .active {
  box-shadow: inset 3px 3px 0px #555, inset -3px -3px 0px #fff;
  background-color: #9d9d9d;
}

.bookIcon {
  width: 32px;
  height: 32px;
  background-image: url('/icons/book_and_quill.png');
  background-size: contain;
  background-repeat: no-repeat;
}